In [1]:
from key.login import serverKey
from com.Dbsys import DBsysyem
import matplotlib.pyplot as plt
import pandas as pd

plt.style.use('seaborn')

In [ ]:
key = serverKey('fever')
system = DBsysyem(db_name='fevercoach_share',login=key.login)
comd = 'select * from fever'
fever = system.run(comd)

In [7]:
fever

,baby_id,app_code,type,data1,data2,data3,data4,memo,date
0,11724,100,1,38.2,C,,0,,2015-09-23 22:40:00\r
1,11724,100,1,38.5,C,,0,,2015-09-23 23:41:00\r
2,11724,100,1,37.8,C,,0,,2015-09-24 01:52:00\r
3,11724,100,1,37.4,C,,0,,2015-09-24 02:59:00\r
4,11724,100,1,37.3,C,,0,,2015-09-24 06:07:00\r
...,...,...,...,...,...,...,...,...,...
25136973,713667,100,1,37.2,,,0,,2019-02-26 22:06:00\r
25136974,713667,100,1,37.4,,,0,,2019-02-26 20:35:00\r
25136975,713667,100,1,36.9,,,0,,2019-02-26 11:13:00\r
25136976,718985,100,1,38.2,C,,0,,2019-10-16 21:15:22\r
25136977,551099,100,1,38.4,C,,0,,2019-02-28 21:12:50\r

In [2]:
key = serverKey('mimic')
system = DBsysyem(db_name='mimiciv', login=key.login)

comd2 = 'select * from icustays'

icustay = system.run(comd2)

In [24]:
comd = 'select * from admissions'

adm = system.run(comd)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76540 entries, 0 to 76539
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subject_id      76540 non-null  int64
 1   hadm_id         76540 non-null  int64
 2   stay_id         76540 non-null  int64
 3   first_careunit  76540 non-null  object
 4   last_careunit   76540 non-null  object
 5   intime          76540 non-null  datetime64[ns]
 6   outtime         76540 non-null  datetime64[ns]
 7   los             76540 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(3), object(2)
memory usage: 4.7+ MB

In [26]:
#subject_id 중복 row
df.duplicated(['subject_id']).sum()

23390

In [27]:
df.duplicated(['hadm_id']).sum()

7329

In [28]:
df.duplicated(['stay_id']).sum()

0

In [12]:
df.duplicated(['hadm_id','stay_id']).sum()

0

In [29]:
df.groupby('hadm_id')[['stay_id']].count().gt(1)

          stay_id
hadm_id
20000094    False
20000147    False
20000351    False
20000397    False
20000808     True
...           ...
29999186    False
29999444    False
29999498    False
29999625    False
29999828    False

[69211 rows x 1 columns]

In [23]:
df[df['hadm_id']==20000808]

,subject_id,hadm_id,stay_id,first_careunit,last_careunit,intime,outtime,los
29133,16788749,20000808,30610654,Surgical Intensive Care Unit (SICU),Surgical Intensive Care Unit (SICU),2180-01-17 19:32:10,2180-01-19 20:40:36,2.047520
33501,16788749,20000808,35191063,Surgical Intensive Care Unit (SICU),Surgical Intensive Care Unit (SICU),2180-01-12 22:07:00,2180-01-13 13:36:47,0.645683

In [31]:
adm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523740 entries, 0 to 523739
Data columns (total 15 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   subject_id            523740 non-null  int64
 1   hadm_id               523740 non-null  int64
 2   admittime             523740 non-null  datetime64[ns]
 3   dischtime             523740 non-null  datetime64[ns]
 4   deathtime             9337 non-null    datetime64[ns]
 5   admission_type        523740 non-null  object
 6   admission_location    463305 non-null  object
 7   discharge_location    397083 non-null  object
 8   insurance             523740 non-null  object
 9   language              523740 non-null  object
 10  marital_status        457633 non-null  object
 11  ethnicity             523740 non-null  object
 12  edregtime             311504 non-null  datetime64[ns]
 13  edouttime             311504 non-null  datetime64[ns]
 14  hospital_expire_flag  523740 non-null  int64
dtypes: datetime64[ns](5), int64(3), object(7)
memory usage: 59.9+ MB

In [34]:
icustay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76540 entries, 0 to 76539
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subject_id      76540 non-null  int64
 1   hadm_id         76540 non-null  int64
 2   stay_id         76540 non-null  int64
 3   first_careunit  76540 non-null  object
 4   last_careunit   76540 non-null  object
 5   intime          76540 non-null  datetime64[ns]
 6   outtime         76540 non-null  datetime64[ns]
 7   los             76540 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(3), object(2)
memory usage: 4.7+ MB

In [35]:
comd3 = 'select * from d_items'

di = system.run(comd3)

In [37]:
di.category.value_counts()

Skin - Impairment           412
Access Lines - Invasive     363
Respiratory                 163
Labs                        161
Medications                 137
                           ...
ApacheIV Parameters           2
Case Management               2
2-Ventilation                 2
Research Enrollment Note      1
RNTriggerNote                 1
Name: category, Length: 79, dtype: int64