In [1]:
from key.login import serverKey
from com.Dbsys import DBsysyem
import matplotlib.pyplot as plt
plt.style.use('seaborn')

In [2]:
key = serverKey('mimic')
system = DBsysyem(db_name='mimiciv', login=key.login)

comd = 'select * from d_items'
comd2 = '''select *   from icustays
                where subject_id in (
                    select admissions.subject_id from admissions
                    where (deathtime is not null)
                    and (dischtime-admissions.admittime)<=3
            );'''

df = system.run(comd2)
print(df)
dm = system.run(comd)

    subject_id   hadm_id   stay_id  \
0     11230841  29647253  30674813
1     15690435  22633087  31218485
2     14166471  27961159  31960600
3     12376923  24083260  33921961
4     15690435  26302402  35857208
..         ...       ...       ...
77    15045913  20837244  30649406
78    15838787  21566270  31434837
79    15838787  29390236  31627031
80    15776989  20554856  32714793
81    13316652  22658929  37152933

                                      first_careunit  \
0                                Trauma SICU (TSICU)
1   Medical/Surgical Intensive Care Unit (MICU/SICU)
2                 Medical Intensive Care Unit (MICU)
3                           Coronary Care Unit (CCU)
4                Surgical Intensive Care Unit (SICU)
..                                               ...
77               Surgical Intensive Care Unit (SICU)
78      Cardiac Vascular Intensive Care Unit (CVICU)
79               Surgical Intensive Care Unit (SICU)
80               Surgical Intensive Care Unit (SICU)
81                          Coronary Care Unit (CCU)

                                   last_careunit              intime  \
0                            Trauma SICU (TSICU) 2179-04-26 05:39:00
1                            Trauma SICU (TSICU) 2142-07-13 04:34:00
2             Medical Intensive Care Unit (MICU) 2161-05-23 15:27:37
3                       Coronary Care Unit (CCU) 2146-12-11 10:16:24
4            Surgical Intensive Care Unit (SICU) 2138-01-12 21:54:18
..                                           ...                 ...
77           Surgical Intensive Care Unit (SICU) 2140-01-02 20:15:58
78  Cardiac Vascular Intensive Care Unit (CVICU) 2135-10-20 09:48:35
79           Surgical Intensive Care Unit (SICU) 2137-07-23 18:41:00
80           Surgical Intensive Care Unit (SICU) 2141-04-30 17:10:00
81                      Coronary Care Unit (CCU) 2130-05-11 16:31:00

               outtime       los
0  2179-04-27 03:21:06  0.904236
1  2142-07-20 18:06:34  7.564280
2  2161-05-24 02:19:09  0.452454
3  2146-12-12 01:47:07  0.646331
4  2138-01-14 02:58:30  1.211250
..                 ...       ...
77 2140-01-03 00:52:39  0.192141
78 2135-10-22 16:53:30  2.295080
79 2137-07-24 02:02:48  0.306806
80 2141-05-01 01:40:26  0.354468
81 2130-05-12 02:30:47  0.416516

[82 rows x 8 columns]

In [3]:
dm

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
0,220003,ICU Admission date,ICU Admission date,datetimeevents,ADT,None,Date and time,NaN,NaN
1,220045,Heart Rate,HR,chartevents,Routine Vital Signs,bpm,Numeric,NaN,NaN
2,220046,Heart rate Alarm - High,HR Alarm - High,chartevents,Alarms,bpm,Numeric,NaN,NaN
3,220047,Heart Rate Alarm - Low,HR Alarm - Low,chartevents,Alarms,bpm,Numeric,NaN,NaN
4,220048,Heart Rhythm,Heart Rhythm,chartevents,Routine Vital Signs,None,Text,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3856,230040,Paradoxical breathing,Paradoxical breathing,chartevents,RDOS,None,Text,NaN,NaN
3857,230041,Restlessness.,Restlessness.,chartevents,RDOS,None,Text,NaN,NaN
3858,230042,RR per min,RR per min,chartevents,RDOS,None,Text,NaN,NaN
3859,230044,Heparin Sodium (CRRT-Prefilter),Heparin Sodium (CRRT-Prefilter),inputevents,Medications,units,Solution,NaN,NaN
3860,230045,Intellivent (Hamilton Vent Mode),Intellivent (Hamilton Vent Mode),chartevents,Respiratory,None,Checkbox,NaN,NaN